#canvas_wrapper {
  position: relative;
  margin: 0 157px 0 105px;
  overflow: hidden;
  height: calc(100vh - 40px);
  
}
#canvas_wrapper canvas {
  border: 1px solid #393939;
  box-sizing: content-box;
  position: absolute;
  outline: none;
}

canvas {
  border: 1px solid #ccc;
  outline: none;
  display: inline-block;
}
